extends layout

block content
  p 
    a(href="/") Home
    a(href="/page1") Histórico 
  h1= title
  p Welcome to #{title}
  div.MinhaClasse
    b Lorem ipsum dolor sit amet consectetur
    p 
        button(type="submit")#enviar Enviar 
    
    p#Meuid Lorem ipsum dolor sit amet consectetur adipisicing elit.
  include footer.pug 