<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Página 1</title>
    
</head>

<body>
    <h1>Contato</h1>
    <p>
        <a href="/">Home</a>
        <a href="/page1">Página 1</a>
        
    
        
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dolorem quasi deleniti assumenda tenetur.
        Mollitia ab harum optio voluptates cumque quae assumenda architecto perferendis, et adipisci esse soluta.
        Repudiandae, possimus?</p>
        <p><a href="/page3/João">Envio</a></p>
        <p><a href="/page3">Envio2</a></p>
        <p><a href="/page4/João">Envio3</a></p>
        <p><a href="/page4">Envio4</a></p>
        <p><a href="/page5/João">Envio5</a></p>
        <p><a href="/page5">Envio6</a></p>
        <p><a href="/page5/João/20">Envio7</a></p>
        <p><a href="/page5/20">Envio8</a></p>
</body>

</html>